@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pangolin&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Creepster&family=Pangolin&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
    /* --font-roboto: 'Roboto', sans-serif; */
    --font-cursive:cursive;
    --font-pangolin: 'Pangolin';
    --font-horror: 'Creepster', cursive;
}