.horror-mob{
    background-size: cover;
    background-image: url(/category/assets/horror-mobile.avif);
    color: #b1001d;
    -webkit-text-stroke: 1px  rgb(54, 54, 54);
}
.horror-btn-mob{
    background-color: rgba(204, 54, 54, 0.349);
    color: gray;
}
.horror-desktop{
    background-image: url(/category/assets/horror-desktop.avif);
    background-size: cover;
    background-position: center;
    color: rgb(117, 117, 117);
    opacity: 0;
}
.horror-btn-desk{
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(117, 117, 117);
}

/* comedy  */
.comedy-mob{
    background-size: cover;
    background-position: center;
}

/*  thriller */
.thriller-mob{
    background-image: url(/category/assets/thriller-mob.avif);
    background-size: cover;
    background-position: 0% 50%;
    color: #a1a1a1;
}
.thriller-btn-mob{
    background-color: rgba(124, 243, 243, 0.26);
    color: #0A1C2C ;
}
.thriller-desk{
    background-image: url(/category/assets/thriller-desktop.avif);
    background-size: cover;
    background-position: center 75%;
    color:#8f8f8f;
}
.thriller-btn-desk{
    background-color: rgba(128, 128, 128, 0.322);
    color: rgb(170, 170, 170);
}